<h1>{{title}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th><a (click)="sortBy('id')">ID</a></th>
            <th>ACTOR</th>
            <th>MOVIE</th>
            <th><a (click)="sortBy('role')">ROLE</a></th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of credits | sort:sortCriteria:sortOrder">
            <td>{{c.id}}</td>
            <td>{{c.actor.lastName + ", " + c.actor.firstName}}</td>
            <td>{{c.movie.title}}</td>
            <td>{{c.role}}</td>
            <td>E | D</td>
        </tr>
    </tbody>
</table>